{% for experience in site.data.experience %}

<div class="resume-item d-flex flex-row">

  <div class="flex-grow-1 w-75">
    {% if {{experience.link}} %} <a href="{{experience.link}}"> {% endif %}
      {% if {{experience.organization}} %} <h3 class="mb-0">{{experience.organization}}</h3> {% endif %}
      {% if {{experience.link}} %} </a> {% endif %}
    {% if {{experience.job_title}} %} <div class="subheading mb-0">{{experience.job_title}}</div> {% endif %}
  </div>

  <div class="resume-date flex-shrink-1 text-right">{{experience.dates}}</div>

</div>

<div class="resume-item d-flex flex-row flex-column justify-content-between mb-3">
  {% if {{experience.role_brief}} %} <em>{{experience.role_brief | strip | markdownify}}</em> {% endif %}
  {% if {{experience.description}} %} {{experience.description | strip | markdownify}} {% endif %}
</div>

{% endfor %}