<!-- Order of loading the JavaScript libraries matters -->

<!-- jQuery v3.4.1 -->
<!-- From https://jquery.com/download/ -->
<script src="vendor/jquery/jquery-3.4.1.min.js"></script>

<!-- jQuery plugin: Easing -->
<!-- From https://github.com/gdsmith/jquery.easing -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Bootstrap JavaScript v4.4.1 -->
<!-- From https://getbootstrap.com/docs/4.4/getting-started/download/ -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Popper v1.15.0 (UMD version) -->
<!-- Source avaialble from https://github.com/popperjs/popper.js -->
<!-- Download from https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js -->
<script src="vendor/popper/popper.min.js"></script>

<!-- Custom scripts for this template -->
<script src="assets/resume.js"></script>
