<div class="social-icons">

  {%- for link in site.social-network-links -%}
    {%- assign curkey = link[0] -%}
    {%- assign element = site.data.socialnetworks[curkey] -%}

    <span class="m-1">
      {%- if curkey == 'rss' -%}
        <a href="{{ '/feed.xml' | relative_url }}" title="{{ element.name }}">
      {%- elsif curkey == 'yelp' -%}
        <a href="https://{{ site.social-network-links[curkey] }}.yelp.com" title="{{ element.name }}">
      {%- else -%}
        <a href="{{element.baseURL}}{{ site.social-network-links[curkey] }}" title="{{ element.name }}">
      {%- endif -%}
        <i class="fab {{ element.icon }}"></i>
        </a>
    </span>
  {%- endfor -%}

</div>
